.feed-container {
  width: calc(50% - 1px);
  height: calc(100% - 20px);
  min-height: 500px;

  display: inline-block;
  vertical-align: top;

  border-right: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 10px;
}
.favorites-container {
  width: calc(50% - 1px);
  height: calc(100% - 20px);
  min-height: 500px;

  display: inline-block;
  vertical-align: top;

  border-left: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 10px;
}
