.post-body {
  display: inline-block;
  vertical-align: top;

  width: 75%;
  min-height: 50px;

  padding: 5px;
}
.post-image {
  width: 100%;
  margin: 10px;
}
.post-text {
  width: 100%;
  margin: 10px;
  overflow: hidden;
}
.post-dialogue {
  border: 1px solid green;
  background-color: lightblue;
  margin-bottom: 5px;
  border-radius: 10px;

}

/* slotted should replace ng-deep, but doesn't seem to work currently */
/* .post-body ::slotted(*) {
  margin: 0 !important;
  padding: 0 !important;
} */

/* modify content added to innerHtml */
.post-inner ::ng-deep * {
  margin: 0 ;
  padding: 0 ;
  max-width: 100% !important;
  min-width: 100px !important;
  display: block !important;
  overflow: hidden;
}
