<div class="posts-controls">
    <div class="posts-controls-left">
      <h3> Blog Name:</h3>
      <input type='text' [(ngModel)]="tumblrName" />
    </div>
    <div class="post-controls-right">
      <h3>Tag:</h3>
      <input type='text' [(ngModel)]="tumblrTag" />
      <button (click)="search()">Search</button>
    </div>
</div>
<div>
  <!-- [ngSwitch]="post.type" -->
  <ng-container *ngFor="let post of (result | async)?.response.posts" >
    <p>
      {{post.type}}
    </p>
  </ng-container>
</div>
